# Copyright 2021 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

[flake8]
exclude =
  install
  toolchain
  hardware/deps
  scripts/license-checker.py
  scripts/run_clang_format.py
