[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = https://github.com/llvm/llvm-project
