# Copyright 2021 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

install/*
.bender
.ctags
gmon.out
# Backup files
*.bk
*.bu
*.tmp
*.temp
# Vim files
*.swp
tags
# Python
**.idea
venv
# Visual Studio Code
.vscode
*.code-workspace
# VSCode Favorites extension
.favorites.json
# Ignore fish scripts :(
*.fish
# In general, ignore pdfs
*.pdf
