[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = ../riscv-gnu-toolchain.git
[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = ../llvm-project.git
[submodule "toolchain/halide"]
	path = toolchain/halide
	url = ../Halide.git
[submodule "toolchain/riscv-isa-sim"]
	path = toolchain/riscv-isa-sim
	url = ../riscv-isa-sim.git
