# Copyright 2021 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

dataclasses
flake8
gitpython
hjson
jsonref
jsonschema
mako
numpy
pandas
progressbar2
tabulate
sympy
scipy
pyflexfloat
