# Copyright 2021 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# build folder
bin/

# intermediate files
*.bin
*.img
*.o
*.obj
*.elf
*.ll
*.dump
runtime/arch.ld

# libraries
*.lib
*.a
*.la
*.lo

# Halide cross-compilation output
*.riscv.*

# Generated data files
data.h
runtime/data/data*.h
