# Copyright 2021 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

*.log
*.dasm
*.trace
*.project
bender
.bender/*
.dvt/*
*build*
*results*
results*
log/
plots*
obj_dir
generated
